@import "variables";
@import "layout";

.cv-title {
  text-transform: uppercase;
  margin-top: $margin-medium;
  margin-bottom: $margin-medium;
  text-align: center;
  color: $black;
  @media(min-width: $sm-min) {
    text-align: left;
  }

  &.subtitle {
    text-transform: capitalize;
    margin-top:0;
    margin-bottom: $margin-medium;
    @media(min-width: $lg-min) {
      margin-bottom: $margin-big;
    }
  }
}

.cv-subtitle {
  text-align: center;
  @media(min-width: $sm-min) {
    text-align: left;
  }
}

.cv-list {
  @extend .clearfix;
  list-style-type: none;
  padding: 0;
  font-size: 16px;
  margin-top: $margin-medium;
  margin-bottom: 72px;
  text-align: center;
  @media(min-width: $sm-min) {
    text-align: left;
  }
  @media(min-width: $sm-min) and (max-width: $sm-max) {
    dz-info {
      float: left;
      width: 50%;
    }
  }

  dz-skill > div {
    margin-top: 15px;
    margin-bottom: 40px;
  }

  dz-info {
    display: block;
    margin-top: 20px;
  }
}


.cv-download-container,
.cv-websites-container {
  margin-top: $margin-medium;
  margin-bottom: 72px;
  text-align: center;
  font-size: 20px;
  @media(min-width: $sm-min) {
    text-align: left;
    font-size: 25px;
  }

  .cv-lang {
    display: inline-block;
  }

  .cv-websites-list {
    @media(max-width: $xs-max) {
      list-style: none;
      padding: 0;
    }
  }

  .cv-website {
    margin-bottom: $margin-medium;
    font-weight: 300;
  }
}

.cv-websites-container {
  @media(min-width: $sm-min) {
    font-size: 20px;
  }
}
